NovaStudio/CodeGeneration/tiles-definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Farrukh Ijaz (Syberonix) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="component-definitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="definition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="definition">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="icon" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="small-icon" minOccurs="0">
								<xs:complexType mixed="true">
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="id" type="xs:ID"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="large-icon" minOccurs="0">
								<xs:complexType mixed="true">
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="id" type="xs:ID"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="display-name" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:ID"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="description" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:ID"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="put" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:ID"/>
								<xs:attribute name="content" type="xs:string"/>
								<xs:attribute name="direct">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="true"/>
											<xs:enumeration value="false"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="name" type="xs:string" use="required"/>
								<xs:attribute name="type">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="string"/>
											<xs:enumeration value="page"/>
											<xs:enumeration value="template"/>
											<xs:enumeration value="definition"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="value" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element ref="putList" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="controllerClass" type="xs:string"/>
			<xs:attribute name="controllerUrl" type="xs:string"/>
			<xs:attribute name="extends" type="xs:string"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="page" type="xs:string"/>
			<xs:attribute name="path" type="xs:string"/>
			<xs:attribute name="role" type="xs:string"/>
			<xs:attribute name="template" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="putList">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="add" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:ID"/>
								<xs:attribute name="content" type="xs:string"/>
								<xs:attribute name="direct">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="true"/>
											<xs:enumeration value="false"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="type">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="string"/>
											<xs:enumeration value="page"/>
											<xs:enumeration value="template"/>
											<xs:enumeration value="definition"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="value" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:ID"/>
								<xs:attribute name="classtype" type="xs:string"/>
								<xs:attribute name="icon" type="xs:string"/>
								<xs:attribute name="link" type="xs:string" use="required"/>
								<xs:attribute name="tooltip" type="xs:string"/>
								<xs:attribute name="value" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="bean" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="set-property" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="id" type="xs:ID"/>
									<xs:attribute name="property" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID"/>
						<xs:attribute name="classtype" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="putList" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:ID"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tiles-definitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="definition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
